.form-add-service__input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px 0px 2px 0px;
  padding: 15px 20px;
  width: 100%;
}

.form-add-service__select {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px 0px 2px 0px;
  padding: 12px 20px;
  width: 100%;
}

.form-add-service__label {
  font-size: 15px;
  margin-bottom: 10px;
}

.form-add-service__p {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  width: 100%;
}

.form-add-service__container {
  padding: 10px;
  text-align: left;
}

.form-add-service__button {
  background-color: #225f6e;
  border: solid 1px black;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: medium;
  height: 6vh;
  margin-top: 10px;
  width: 100%
}

.form-add-service__button:disabled {
  background-color: #225f6e;
  opacity: 0.5;
  cursor: auto;
}

.sucess {
  color: #3ebada;
  text-align: center;
  padding: 10px;
}

