.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  height: 5vh;
}

.empty-button {
  background-color: #252525;
  border: none;
  height: 100%;
  width: 10vw;
  
}

.return-button {
  background-color: #252525;
  border: none;
  color: white;
  height: 100%;
  width: 10vw;
}